// Fonts
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;1,900&family=Roboto:wght@300;400&display=swap');

//Font sizes
$small: 12px;
$medium: 16px;
$large: 18px;
$x-large: 30px;
$xx-large: 70px;

//Typefaces
$roboto: 'Roboto', sans-serif;
$playfair: 'Playfair Display', serif;

//Colors
$dark: #000;

// Display
$main-display: "grid";
$child-display: "grid";

//Image sizes
$hero_img-size: 100vw;